.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #feff00;
    height: 100vh;
}
.snap__logo{
    height: 100px;
}
.app__bodyBackground{
    background-color: white;
    height: 450px;
}

.app__body{
    background:url('./iphone.png') no-repeat center; 
    height: 420px;
    padding: 105px;
    padding-left: 103px;
    padding-top:68px;
}