.chats{
    position: relative;
    height: 400px;
    width: 250px;
}

.chats__header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #059ee0;
    height: 50px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.chats__search > input{
    outline: none;
    background-color: transparent;
    border:none;
    font-size: 12px;
    flex:1;
    margin-left: 5px;
}
.chats__search, .chats__avatar{
    margin-bottom: 7px;
}

.chats__search > input::placeholder{
    color: white;
    opacity: 1;
}
.chats__posts{
    box-shadow: 1px -7px 7px -6px rgba(0, 0, 0, 0.44);
    height:407px;
    margin-top: -9px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: white;
    overflow: scroll;
}
.chats__posts::-webkit-scrollbar{
    display:none;
}

/*Hide Scroll bar for IE, Edge, and Firefox*/
.chats__posts{
    -ms-overflow-style:none;/*IE and EDGE*/
    scrollbar-width:none; /*Firefox*/
}


.chats__avatar{
    height:25px !important;
    width: 25px !important;
    cursor:pointer;
}
.chats__search{
    color:white;
    display:flex;
    align-items: center;
    flex:1;
    padding-left: 8px;
    font-size: 20px;
}
.camera__icon,.search__icon{
    cursor: pointer;
    font-size: 20px !important;
}
.camera__icon:hover{
    transition: 0.35s;
    transition-timing-function: ease-in-out;
    opacity: 0.8;
}

.chats_takePicIcon{
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: gray;
}

.chats_takePicIcon:hover{
    transition: 0.35s;
    transition-timing-function: ease-in-out;
    opacity: 0.6;
}