.webcamCapture{
    position:relative;
}

.webcamCapture__button{
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: white;
}

.webcamCapture__button:hover{
    transition: 0.35s;
    transition-timing-function: ease-in-out;
    opacity: 0.8;
}